:root {
  font-family: sans-serif, "PingFang", "Microsoft JhengHei";
  font-size: 16px;
  line-height: 1.6;
  scroll-behavior: smooth;
  --color: #444;
  --link: var(--red);
  --red: #d62322;
  --green: #76c114;
  --yellow: #d6b113;
  --gold: #c2a86b;
  --primary: var(--red);
}

html {
  scroll-padding-top: 9rem;
}

body {
  margin: 0;
  color: var(--color);
}

h1 {
  font-weight: 400;
  font-size: 2rem;
  text-align: center;
}

h1 .icon {
  margin-top: -0.4rem;
  font-size: 2.6rem;
  color: var(--gold);
}

h2 .icon {
  width: 1.6em;
  height: 1.6em;
  font-size: 1em;
  line-height: 1.6em;
  background-color: var(--gold);
  border-radius: 100px;
  color: #fff;
  text-align: center;
}

a {
  color: var(--link);
}

input[type=text],
textarea,
select,
button {
  box-sizing: border-box;
  padding: 0.6rem 0.8rem;
  margin: 0;
  min-height: 1rem;
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
  font-size: 16px;
  outline: none;
  background: #fff;
  border-radius: 0.25rem;
  border: 1px solid #aaa;
  color: var(--color);
}

select {
  padding-right: 2.2rem;
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
  background-image: url("/images/select_arrow.svg");
  background-repeat: no-repeat;
  background-position: right 0.8rem center;
  background-size: 1rem auto;
  border: 0;
  border-radius: 0.25rem;
}

.btn {
  margin: 0.25rem;
  padding: 0.6rem 1rem;
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
  background: var(--primary);
  color: #fff;
  cursor: pointer;
  border: 0;
  border-radius: 0.25rem;
}

.btn--gray {
  background: #aaa;
}

section {
  box-sizing: border-box;
}

input[type=radio],
input[type=checkbox] {
  vertical-align: middle;
}

table {
  width: 100%;
  border: 1px solid #ccc;
  border-collapse: collapse;
}

table th,
table td {
  background: #fff;
  border: 1px solid #ccc;
  padding: 0.25rem 0.8rem;
  vertical-align: top;
}

table tbody tr:nth-child(odd) td {
  background: #f6f6f6;
}

.scroll-table {
  overflow-x: auto;
  border-left: 1px solid #ccc;
  border-right: 1px solid #ccc;
}

.scroll-table table {
  white-space: nowrap;
  border-left: 0;
  border-right: 0;
}

.scroll-table table th:first-child,
.scroll-table table td:first-child {
  position: sticky;
  left: 0;
  border-left: 0;
  border-right: 0;
  box-shadow: -1px 0 0 #ccc inset;
}

.scroll-table table th:nth-child(2),
.scroll-table table td:nth-child(2) {
  border-left: 0;
}

.scroll-table table th:last-child,
.scroll-table table td:last-child {
  border-right: 0;
}

.main {
  min-height: calc(100vh - 200px);
}

.container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 4%;
}

.pages {
  margin: 3rem 0;
  text-align: center;
}

.pages a {
  margin: 0 0.4rem;
  text-decoration: none;
}

.pages a.active {
  font-weight: bold;
  color: var(--color);
}

.badge {
  display: inline-block;
  margin: 0 0.25rem 0.25rem 0;
  padding: 0.25rem 0.8rem;
  background: rgba(0, 0, 0, 0.0666666667);
  border-radius: 0.25rem;
}

.badge--inprogress {
  background: var(--yellow);
  color: #fff;
}

.badge--done {
  background: var(--green);
  color: #fff;
}

.tag {
  display: inline-block;
  margin: 0 0.25rem 0.25rem 0;
  padding: 0 0.8rem;
  background: rgba(0, 0, 0, 0.0666666667);
  border-radius: 100px;
  font-size: 0.8rem;
  vertical-align: middle;
}

.tag .icon {
  font-size: 0.8rem;
}

.tag--inprogress {
  background: var(--yellow);
  color: #fff;
}

.tag--done {
  background: var(--green);
  color: #fff;
}

.legislator {
  margin: 0 0.5rem 1rem 0.5rem;
  max-width: 90px;
  display: inline-block;
  vertical-align: top;
  line-height: 1.2;
}

.legislator a {
  color: currentColor;
  text-decoration: none;
}

.legislator .avatar {
  margin-bottom: 0.25rem;
}

.legislator--sm .avatar img {
  width: 50px;
  height: 50px;
  border-width: 2px solid #fff;
}

.legislator--sm .avatar .party {
  width: 0.6rem;
  height: 0.6rem;
  bottom: 4px;
}

.avatar {
  display: inline-block;
  position: relative;
}

.avatar img {
  display: block;
  width: 80px;
  height: 80px;
  border: 4px solid #fff;
  border-radius: 100px;
  -o-object-fit: cover;
     object-fit: cover;
}

.avatar .party {
  position: absolute;
  width: 1rem;
  height: 1rem;
  right: 0;
  bottom: 6px;
  border: 4px solid #fff;
}

.party {
  display: inline-block;
  width: 0.4rem;
  height: 0.4rem;
  background: #aaa;
  border-radius: 100px;
}

.party--0 {
  background: #aaa;
}

.party--1 {
  background: #1B9431;
}

.party--2 {
  background: #FF0088;
}

.party--3 {
  background: #a73f24;
}

.party--4 {
  background: #FBBE01;
}

.party--5 {
  background: #73BE00;
}

.party--6 {
  background: #28C8C8;
}

.party--7 {
  background: #000099;
}

.bg--0 {
  background: #aaa;
}

.bg--1 {
  background: #1B9431;
}

.bg--2 {
  background: #FF0088;
}

.bg--3 {
  background: #a73f24;
}

.bg--4 {
  background: #FBBE01;
}

.bg--5 {
  background: #73BE00;
}

.bg--6 {
  background: #28C8C8;
}

.bg--7 {
  background: #000099;
}

.site-header {
  position: sticky;
  top: 0;
  z-index: 10000;
  background: #fff;
  border-bottom: 1px solid rgba(0, 0, 0, 0.1333333333);
}

.site-header .header {
  height: 4rem;
  display: grid;
  grid-template-columns: 1fr auto;
  align-items: center;
}

@media (max-width: 991px) {
  .site-header .header {
    grid-template-columns: 1fr auto;
  }
}

.site-header .header a {
  color: currentColor;
  text-decoration: none;
  transition: color 0.4s;
}

.site-header .header a:hover {
  color: var(--red);
}

.site-header .header .logo img {
  height: 2.4rem;
  margin-right: 0.6rem;
  vertical-align: middle;
}

.site-header .header .rwd-menu-icon {
  display: none;
}

.site-header .header .rwd-menu-icon button {
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
  background: transparent;
  border: none;
}

@media (max-width: 991px) {
  .site-header .header .rwd-menu-icon {
    display: block;
  }
}

.site-header .header .menu {
  display: flex;
}

.site-header .header .menu a {
  display: block;
  padding: 0.4rem 1rem;
  border-left: 1px solid rgba(255, 255, 255, 0.1333333333);
}

.site-header .header .menu .search-bar {
  display: grid;
  grid-template-columns: 1fr 1.6rem;
  margin: 0 1rem;
  padding: 0 0.8rem;
  background: rgba(0, 0, 0, 0.0666666667);
  border-radius: 0.25rem;
}

.site-header .header .menu .search-bar input,
.site-header .header .menu .search-bar button {
  display: block;
  padding: 0;
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
  background: transparent;
  border: 0;
}

@media (max-width: 991px) {
  .site-header .header .menu {
    padding: 0.4rem 4%;
    display: block;
    position: fixed;
    top: 4rem;
    bottom: 0;
    left: 0;
    right: 0;
    background: #fff;
    transform: translateX(100%);
    transition: transform 0.4s;
    color: #222;
  }
  .site-header .header .menu > a {
    padding: 1rem 0;
    display: block;
    border-bottom: 1px solid rgba(0, 0, 0, 0.1333333333);
  }
  .site-header .header .menu > .search-bar {
    margin: 1rem 0;
    padding: 1rem 0.4rem;
    background-color: rgba(0, 0, 0, 0.0666666667);
  }
  .site-header .header .menu.active {
    transform: translateX(0);
  }
}

.site-footer {
  padding: 2rem 0;
  background: #222;
  color: #fff;
  font-size: 0.8rem;
  text-align: center;
}

.site-footer a {
  color: currentColor;
  text-decoration: none;
}

.site-footer .logo {
  margin-bottom: 1rem;
}

.site-footer .logo img {
  height: 2.2rem;
}

._search .search {
  padding: 2rem 0;
  background: #f7f4ca;
  background-image: url("../images/search_bg.svg"), linear-gradient(25deg, #cbe8f5, #f7f4ca);
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
}

._search .search .search-form {
  max-width: 600px;
  margin: 0 auto;
  padding: 2rem 0;
}

@media (max-width: 767px) {
  ._search .search .search-form {
    padding: 0;
  }
}

._search .search .search-form .search-keywords {
  padding: 0.2rem 0.4rem;
  display: grid;
  grid-template-columns: 1fr auto;
  background: #fff;
  border-radius: 0.25rem;
}

._search .search .search-form .search-keywords input {
  width: 100%;
}

._search .search .search-form .search-keywords input,
._search .search .search-form .search-keywords button {
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
  background: transparent;
  border: 0;
  font-size: 1.2rem;
}

._search .search .options {
  margin-top: 1rem;
  display: grid;
  grid-template-columns: auto 1fr;
  grid-gap: 1rem;
  align-items: center;
}

._search .search .options .value {
  display: flex;
  align-items: center;
}

._search .search .options .value input {
  width: 100%;
  border: 0;
}

._search .search .options .value select {
  width: 100%;
}

._search .search .options .value div {
  margin: 0 0.8rem;
  white-space: nowrap;
}

._search .search .actions {
  margin-top: 1.2rem;
  text-align: center;
}

._search .results {
  padding: 2rem 0 4rem 0;
  margin: 0 auto;
}

._search .results h2 {
  text-align: center;
}

._search .results .knowledges {
  display: grid;
  grid-gap: 1rem;
  grid-template-columns: 1fr 1fr;
}

@media (max-width: 767px) {
  ._search .results .knowledges {
    grid-template-columns: 1fr;
  }
}

._search .results .knowledge {
  padding: 2rem;
  background: #f2f2f2;
  border-radius: 1rem;
}

@media (max-width: 575px) {
  ._search .results .knowledge {
    padding: 1rem;
  }
}

._search .results .party-percentage {
  grid-column: 1/2 span;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 2rem;
}

@media (max-width: 767px) {
  ._search .results .party-percentage {
    grid-column: 1;
    grid-template-columns: 1fr;
  }
}

._search .results .party-percentage .desc .item {
  margin: 0.8rem 0;
}

._search .results .party-percentage .desc .bar {
  margin: 0.25rem 0;
  height: 3px;
  background: #fff;
}

._search .results .party-percentage .desc .bar .bar-percent {
  height: 100%;
}

._search .results .party-percentage .graphic {
  text-align: center;
}

._search .results .party-percentage .graphic img {
  display: block;
  margin: 0 auto 1rem auto;
  width: 90%;
}

._search .results .filters {
  margin: 3rem auto 2rem auto;
  padding: 0.8rem 1rem;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 0.4rem 1rem;
  background: #f6f6f6;
  border-radius: 0.25rem;
  color: #777;
}

@media (max-width: 991px) {
  ._search .results .filters {
    grid-template-columns: 1fr;
  }
}

._search .results .filters .filter {
  margin-right: 2rem;
}

._search .results .result-main {
  display: grid;
  grid-gap: 2rem;
  grid-template-columns: 200px 1fr;
}

@media (max-width: 575px) {
  ._search .results .result-main {
    grid-template-columns: 1fr;
  }
}

._search .results .rwd-filter-options-switch {
  display: none;
  text-align: center;
}

._search .results .rwd-filter-options-switch a {
  color: currentColor;
  text-decoration: none;
}

@media (max-width: 575px) {
  ._search .results .rwd-filter-options-switch {
    display: block;
  }
}

@media (max-width: 575px) {
  ._search .results .filter-options {
    display: none;
  }
}

._search .results .filter-options.rwd-active {
  display: block;
}

._search .results .filter-options .option {
  margin-bottom: 1rem;
  padding: 1rem;
  background: #f2f2f2;
  border-radius: 0.25rem;
}

._search .results .filter-options .title {
  margin-bottom: 0.4rem;
  font-weight: bold;
}

._search .results .filter-options .list {
  font-size: 0.8rem;
}

._search .results .filter-options label {
  display: block;
  margin-bottom: 0.25rem;
}

._search .result {
  margin-bottom: 2rem;
  padding: 2rem;
  display: block;
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.0784313725);
  border-top: 0.4rem solid #e2d3aa;
  border-top: 0.4rem solid var(--red);
  border-radius: 0.4rem 0.4rem 1rem 1rem;
  color: currentColor;
  text-decoration: none;
}

@media (max-width: 767px) {
  ._search .result {
    padding: 1rem;
  }
}

._search .result .title {
  margin-bottom: 0.4rem;
  font-size: 1.2rem;
  font-weight: bold;
}

._search .result .status {
  margin: 0.8rem 0;
  color: #aaa;
}

._search .result .legislators {
  margin-top: 1rem;
}

._search .result .legislators .badge {
  font-size: 0.8rem;
}

._bills .bill-info {
  padding: 2rem 0;
  background: #f7f4ca;
  background-image: url("../images/search_bg.svg"), linear-gradient(25deg, #cbe8f5, #f7f4ca);
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  text-align: center;
}

._bills .bill-info .bill-info-row {
  display: grid;
  grid-gap: 2rem;
  grid-template-columns: auto 1fr;
}

@media (max-width: 575px) {
  ._bills .bill-info .bill-info-row {
    grid-template-columns: 1fr;
    grid-gap: 0;
  }
}

._bills .bill-info .content {
  max-width: 1000px;
  margin: 0 auto;
}

._bills .bill-info .proposer {
  order: -1;
}

@media (max-width: 575px) {
  ._bills .bill-info .proposer {
    order: 0;
  }
}

._bills .bill-info .proposer .title {
  margin: 1rem auto;
  padding: 0 1rem;
  width: -moz-fit-content;
  width: fit-content;
  background: #fff;
  border-radius: 100px;
  font-weight: bold;
  white-space: nowrap;
}

._bills .bill-tab {
  /*position: sticky;
  top: 4rem;*/
  z-index: 9000;
  background: #fff;
  border-top: 1px solid #ddd;
  border-bottom: 1px solid #ddd;
  padding: 1rem 0;
  text-align: center;
}

._bills .bill-tab a {
  display: inline-block;
  margin: 0 1rem;
  color: var(--color);
  text-decoration: none;
  transition: color 0.4s;
}

._bills .bill-tab a:after {
  display: block;
  content: "";
  border-bottom: 3px solid var(--red);
  width: 0;
  opacity: 0;
  transition: width 0.4s, opacity 0.4s;
}

._bills .bill-tab a:hover {
  color: var(--red);
}

._bills .bill-tab a.active:after {
  width: 100%;
  opacity: 1;
}

._bills .legislators {
  padding: 2rem 0 4rem 0;
  background: #f6f5f1;
  text-align: center;
}

._bills .legislators h2 {
  margin-bottom: 2.2rem;
}

._bills .legislators .row {
  display: grid;
  grid-template-columns: auto auto auto;
  justify-content: space-around;
}

._bills .legislators .row .separator {
  border-left: 1px solid rgba(0, 0, 0, 0.0666666667);
  margin: 0 2rem;
}

@media (max-width: 991px) {
  ._bills .legislators .row {
    grid-template-columns: 1fr;
    grid-gap: 1rem;
  }
  ._bills .legislators .row .separator {
    border-left: none;
    border-bottom: 1px solid rgba(0, 0, 0, 0.0666666667);
  }
}

._bills .progress {
  padding: 2rem 0 4rem 0;
  background: #fff;
  background-image: url("../images/progress_bg.svg");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  text-align: center;
}

._bills .progress h2 {
  margin-bottom: 3rem;
}

._bills .progress .progress-bar {
  display: grid;
  grid-auto-flow: column;
  grid-auto-columns: 1fr;
}

@media (max-width: 991px) {
  ._bills .progress .progress-bar {
    display: block;
    text-align: left;
  }
}

._bills .progress .step {
  position: relative;
  word-break: break-all;
}

@media (max-width: 991px) {
  ._bills .progress .step {
    display: grid;
    grid-template-columns: auto 1fr;
    grid-gap: 1rem;
    padding-bottom: 1rem;
  }
}

._bills .progress .step:after {
  content: "";
  display: block;
  border-top: 3px dotted #ccc;
  position: absolute;
  left: calc(50% + 1.5rem);
  top: 1.5rem;
  width: calc(100% - 3rem);
}

@media (max-width: 991px) {
  ._bills .progress .step:after {
    width: 10px;
    left: 1.5rem;
    top: 3rem;
    bottom: 0;
    border-top: 0;
    border-left: 3px dotted #ccc;
  }
}

._bills .progress .step .step-icon > span {
  color: #ccc;
  font-size: 3rem;
}

@media (max-width: 991px) {
  ._bills .progress .step .content {
    display: grid;
    grid-template-columns: 1fr auto;
    align-items: center;
    vertical-align: top;
  }
}

._bills .progress .step .title {
  color: #aaa;
  font-size: 1.6rem;
}

._bills .progress .step .date {
  color: rgba(0, 0, 0, 0.3333333333);
}

._bills .progress .step .date .icon {
  font-size: 0.8rem;
}

._bills .progress .step .links a {
  margin: 0.25rem;
  padding: 0.25rem 0.6rem;
  display: inline-block;
  color: var(--color);
  font-size: 0.8rem;
  background: rgba(0, 0, 0, 0.0666666667);
  border-radius: 0.25rem;
  text-decoration: none;
}

._bills .progress .step .links a .icon {
  font-size: 1rem;
}

._bills .progress .step.done .step-icon > span {
  color: var(--green);
}

._bills .progress .step.done .title {
  color: var(--color);
}

._bills .progress .step.done:after {
  border-color: var(--green);
}

._bills .progress .step.active .step-icon > span {
  color: var(--yellow);
}

._bills .progress .step.active .title {
  color: var(--color);
}

._bills .progress .step:last-child:after {
  display: none;
}

._bills .comparation {
  padding: 2rem 0 4rem 0;
}

._bills .comparation h2 {
  text-align: center;
}

._bills .comparation .bill-versions table th:first-child,
._bills .comparation .bill-versions table td:first-child {
  text-align: center;
}

._bills .comparation .bill-versions input.custom-bill-no {
  width: 100%;
  padding: 0.4rem;
}

._bills .comparation .diff-main {
  margin-top: 2rem;
  display: grid;
  grid-template-columns: 200px 1fr;
  grid-gap: 2rem;
  align-items: flex-start;
}

@media (max-width: 767px) {
  ._bills .comparation .diff-main {
    grid-template-columns: 1fr;
  }
}

._bills .comparation .available-sections {
  position: sticky;
  top: 5rem;
  max-height: calc(100vh - 12rem);
  overflow-y: auto;
  padding: 0.8rem 1rem;
  background: #f6f6f6;
  border-radius: 1rem;
}

@media (max-width: 767px) {
  ._bills .comparation .available-sections {
    position: static;
  }
}

._bills .comparation .available-sections .title {
  margin-bottom: 0.8rem;
  padding-bottom: 0.4rem;
  font-size: 1.2rem;
  font-weight: bold;
  border-bottom: 3px solid var(--red);
}

._bills .comparation .available-sections label {
  margin-bottom: 0.4rem;
  display: block;
  color: #555;
}

._bills .comparation .available-sections a {
  display: block;
  margin-bottom: 0.4rem;
  color: #555;
}

._bills .comparation .empty {
  margin: 1rem 0;
  padding: 4rem 1rem;
  border-radius: 1rem;
  background: #f0f0f0;
  text-align: center;
}

._bills .comparation .empty .icon {
  color: #ccc;
}

._bills .comparation .empty .icon span {
  font-size: 10rem;
}

._bills .comparation .diff-hint {
  text-align: right;
  color: #666;
}

._bills .comparation .bill {
  margin-bottom: 2rem;
}

._bills .comparation .bill .title {
  text-align: left;
  font-weight: bold;
  font-size: 1.2rem;
  margin-bottom: 0.4rem;
}

._bills .comparation .bill .passed {
  margin-top: 0.4rem;
}

._bills .comparation del {
  background: #ffbdbd;
  color: rgba(0, 0, 0, 0.2);
}

._bills .comparation ins {
  background: #bedeac;
  text-decoration: none;
}

.material-symbols-rounded {
  vertical-align: middle;
  font-variation-settings: "FILL" 0, "wght" 400, "GRAD" 0, "opsz" 24;
}

/*# sourceMappingURL=common.css.map */
