._bills {
  .bill-info {
    padding: 2rem 0;
    background: #f7f4ca;
    background-image: url('/images/search_bg.svg'), linear-gradient(25deg, #cbe8f5, #f7f4ca);
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    text-align: center;

    .bill-info-row {
      display: grid;
      grid-gap: 2rem;
      grid-template-columns: auto 1fr;

      @media (max-width: 575px) {
        grid-template-columns: 1fr;
        grid-gap: 0;
      }
    }

    .content {
      max-width: 1000px;
      margin: 0 auto;
    }

    .proposer {
      order: -1;

      @media (max-width: 575px) {
        order: 0;
      }

      .title {
        margin: 1rem auto;
        padding: 0 1rem;
        width: fit-content;
        background: #fff;
        border-radius: 100px;
        font-weight: bold;
        white-space: nowrap;
      }
    }
  }

  .bill-tab {
    position: sticky;
    top: 4rem;
    z-index: 9000;
    background: #fff;
    border-top: 1px solid #ddd;
    border-bottom: 1px solid #ddd;
    padding: 1rem 0;
    text-align: center;

    a {
      display: inline-block;
      margin: 0 1rem;
      color: var(--color);
      text-decoration: none;
      transition: color 0.4s;

      &:after {
        display: block;
        content: '';
        border-bottom: 3px solid var(--red);
        width: 0;
        opacity: 0;
        transition: width 0.4s, opacity 0.4s;
      }

      &:hover {
        color: var(--red);
      }

      &.active {
        &:after {
          width: 100%;
          opacity: 1;
        }
      }
    }
  }

  .legislators {
    padding: 2rem 0 4rem 0;
    background: #f6f5f1;
    text-align: center;

    h2 {
      margin-bottom: 2.2rem;
    }

    .row {
      display: grid;
      grid-template-columns: auto auto auto;
      justify-content: space-around;

      .separator {
        border-left: 1px solid #0001;
        margin: 0 2rem;
      }

      @media (max-width: 991px) {
        grid-template-columns: 1fr;
        grid-gap: 1rem;

        .separator {
          border-left: none;
          border-bottom: 1px solid #0001;
        }
      }
    }
  }

  .progress {
    padding: 2rem 0 4rem 0;
    background: #fff;
    background-image: url('/images/progress_bg.svg');
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    text-align: center;

    h2 {
      margin-bottom: 3rem;
    }

    .progress-bar {
      display: grid;
      grid-auto-flow: column;
      grid-auto-columns: 1fr;

      @media (max-width: 991px) {
        display: block;
        text-align: left;
      }
    }

    .step {
      position: relative;
      word-break: break-all;

      @media (max-width: 991px) {
        display: grid;
        grid-template-columns: auto 1fr;
        grid-gap: 1rem;
        padding-bottom: 1rem;
      }

      &:after {
        content: '';
        display: block;
        border-top: 3px dotted #ccc;
        position: absolute;
        left: calc(50% + 1.5rem);
        top: 1.5rem;
        width: calc(100% - 3rem);

        @media (max-width: 991px) {
          width: 10px;
          left: 1.5rem;
          top: 3rem;
          bottom: 0;
          border-top: 0;
          border-left: 3px dotted #ccc;
        }
      }

      .step-icon {
        & > span {
          color: #ccc;
          font-size: 3rem;
        }
      }

      .content {
        @media (max-width: 991px) {
          display: grid;
          grid-template-columns: 1fr auto;
          align-items: center;
          vertical-align: top;
        }
      }

      .title {
        color: #aaa;
        font-size: 1.6rem;
      }

      .date {
        color: #0005;

        .icon {
          font-size: 0.8rem;
        }
      }

      .links {
        a {
          margin: 0.25rem;
          padding: 0.25rem 0.6rem;
          display: inline-block;
          color: var(--color);
          font-size: 0.8rem;
          background: #0001;
          border-radius: 0.25rem;
          text-decoration: none;

          .icon {
            font-size: 1rem;
          }
        }
      }

      &.done {
        .step-icon > span {
          color: var(--green);
        }

        .title {
          color: var(--color);
        }

        &:after {
          border-color: var(--green);
        }
      }

      &.active {
        .step-icon > span {
          color: var(--yellow);
        }

        .title {
          color: var(--color);
        }
      }

      &:last-child {
        &:after {
          display: none;
        }
      }
    }
  }

  .comparation {
    padding: 2rem 0 4rem 0;

    h2 {
      text-align: center;
    }

    .bill-versions {
      table {
        th:first-child,
        td:first-child {
          text-align: center;
        }
      }

      input.custom-bill-no {
        width: 100%;
        padding: 0.4rem;
      }
    }

    .diff-main {
      margin-top: 2rem;
      display: grid;
      grid-template-columns: 200px 1fr;
      grid-gap: 2rem;
      align-items: flex-start;

      @media (max-width: 767px) {
        grid-template-columns: 1fr;
      }
    }

    .available-sections {
      position: sticky;
      top: 9rem;
      max-height: calc(100vh - 12rem);
      overflow-y: auto;
      padding: 0.8rem 1rem;
      background: #f6f6f6;
      border-radius: 1rem;

      @media (max-width: 767px) {
        position: static;
      }

      .title {
        margin-bottom: 0.8rem;
        padding-bottom: 0.4rem;
        font-size: 1.2rem;
        font-weight: bold;
        border-bottom: 3px solid var(--red);
      }

      label {
        margin-bottom: 0.4rem;
        display: block;
        color: #555;
      }

      a {
        display: block;
        margin-bottom: 0.4rem;
        color: #555;
      }
    }

    .empty {
      margin: 1rem 0;
      padding: 4rem 1rem;
      border-radius: 1rem;
      background: #f0f0f0;
      text-align: center;

      .icon {
        span {
          font-size: 10rem;
        }
        color: #ccc;
      }
    }

    .bills-list {
    }

    .diff-hint {
      text-align: right;
      color: #666;

      .print-btn {
        margin-left: 1rem;
      }
    }

    .bill {
      margin-bottom: 2rem;

      table {
        table-layout: fixed;
      }

      th:first-child,
      td:first-child {
        max-width: 150px;
        min-width: 150px;
        width: 150px;
      }
      th:nth-child(2),
      td:nth-child(2) {
        max-width: calc(100% - 150px);
        min-width: calc(100% - 150px);
        width: calc(100% - 150px);
      }

      .title {
        text-align: left;
        font-weight: bold;
        font-size: 1.2rem;
        margin-bottom: 0.4rem;
      }

      .passed {
        margin-top: 0.4rem;
      }

      .bill-reason {
        margin: 0.8rem 0;
        padding: 0.6rem 0.8rem;
        background: #faf6f0;
        border: 1px solid #f0e9e0;
        border-radius: 0.4rem;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;

        &.show-all {
          white-space: initial;
          overflow: initial;
          text-overflow: initial;
        }
      }
    }

    del {
      background: #ffbdbd;
      color: #0003;
    }
    ins {
      background: #bedeac;
      text-decoration: none;
    }
  }
}