@import 'utils.scss';
@import 'search.scss';
@import 'bills.scss';

.material-symbols-rounded {
  vertical-align: middle;
  font-variation-settings:
  'FILL' 0,
  'wght' 400,
  'GRAD' 0,
  'opsz' 24
}