._search {
  .search {
    padding: 2rem 0;
    background: #f7f4ca;
    background-image: url('/images/search_bg.svg'), linear-gradient(25deg, #cbe8f5, #f7f4ca);
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;

    .search-form {
      max-width: 600px;
      margin: 0 auto;
      padding: 2rem 0;

      @media (max-width: 767px) {
        padding: 0;
      }

      .search-keywords {
        padding: 0.2rem 0.4rem;
        display: grid;
        grid-template-columns: 1fr auto;
        background: #fff;
        border-radius: 0.25rem;

        input {
          width: 100%;
        }

        input, button {
          appearance: none;
          background: transparent;
          border: 0;
          font-size: 1.2rem;
        }
      }
    }

    .options {
      margin-top: 1rem;
      display: grid;
      grid-template-columns: auto 1fr;
      grid-gap: 1rem;
      align-items: center;

      .title {
      }

      .value {
        display: flex;
        align-items: center;

        input {
          width: 100%;
          border: 0;
        }

        select {
          width: 100%;
        }

        div {
          margin: 0 0.8rem;
          white-space: nowrap;
        }
      }
    }

    .actions {
      margin-top: 1.2rem;
      text-align: center;
    }
  }

  .results {
    padding: 2rem 0 4rem 0;
    margin: 0 auto;

    h2 {
      text-align: center;
    }

    .knowledges {
      display: grid;
      grid-gap: 1rem;
      grid-template-columns: 1fr 1fr;

      @media (max-width: 767px) {
        grid-template-columns: 1fr;
      }
    }

    .knowledge {
      padding: 2rem;
      background: #f2f2f2;
      border-radius: 1rem;

      @media (max-width: 575px) {
        padding: 1rem;
      }
    }

    .party-percentage {
      grid-column: 1 / 2 span;
      display: grid;
      grid-template-columns: 1fr 1fr;
      grid-gap: 2rem;

      @media (max-width: 767px) {
        grid-column: 1;
        grid-template-columns: 1fr;
      }

      .desc {
        .item {
          margin: 0.8rem 0;
        }

        .bar {
          margin: 0.25rem 0;
          height: 3px;
          background: #fff;

          .bar-percent {
            height: 100%;
          }
        }
      }

      .percentage-list {
        // width: fit-content;
        // margin: 0 auto;
      }

      .graphic {
        text-align: center;

        img {
          display: block;
          margin: 0 auto 1rem auto;
          width: 90%;
        }
      }
    }

    .filters {
      margin: 3rem auto 2rem auto;
      padding: 0.8rem 1rem;
      display: grid;
      grid-template-columns: 1fr 1fr;
      grid-gap: 0.4rem 1rem;
      background: #f6f6f6;
      border-radius: 0.25rem;
      color: #777;

      @media (max-width: 991px) {
        grid-template-columns: 1fr;
      }

      .filter {
        margin-right: 2rem;
      }
    }

    .result-main {
      display: grid;
      grid-gap: 2rem;
      grid-template-columns: 200px 1fr;

      @media (max-width: 575px) {
        grid-template-columns: 1fr;
      }
    }

    .rwd-filter-options-switch {
      display: none;
      text-align: center;

      a {
        color: currentColor;
        text-decoration: none;
      }

      @media (max-width: 575px) {
        display: block;
      }
    }

    .filter-options {
      @media (max-width: 575px) {
        display: none;
      }

      &.rwd-active {
        display: block;
      }

      .option {
        margin-bottom: 1rem;
        padding: 1rem;
        background: #f2f2f2;
        border-radius: 0.25rem;
      }

      .title {
        margin-bottom: 0.4rem;
        font-weight: bold;
      }

      .list {
        font-size: 0.8rem;
      }

      label {
        display: block;
        margin-bottom: 0.25rem;
      }
    }

    .result-list {}
  }

  .result {
    margin-bottom: 2rem;
    padding: 2rem;
    display: block;
    box-shadow: 0 10px 20px #00000014;
    // border-top: 0.4rem solid var(--gold);
    border-top: 0.4rem solid #e2d3aa;
    border-top: 0.4rem solid var(--red);
    border-radius: 0.4rem 0.4rem 1rem 1rem;
    color: currentColor;
    text-decoration: none;

    @media (max-width: 767px) {
      padding: 1rem;
    }

    .title {
      margin-bottom: 0.4rem;
      font-size: 1.2rem;
      font-weight: bold;
    }

    .status {
      margin: 0.8rem 0;
      color: #aaa;
    }

    .legislators {
      margin-top: 1rem;

      .badge {
        font-size: 0.8rem;
      }
    }
  }
}
