:root {
  font-family: sans-serif, 'PingFang', 'Microsoft JhengHei';
  font-size: 16px;
  line-height: 1.6;
  scroll-behavior: smooth;
  --color: #444;
  --link: #990;
  --green: #76c114;
  --yellow: #d6b113;
  --gold: #b68f1f;
  --primary: var(--gold);
}

body {
  margin: 0;
  color: var(--color);
}

h1 {
  font-weight: 400;
  font-size: 2rem;
  text-align: center;
}

a {
  color: var(--link);
}

input, textarea, select, button {
  padding: 0.8rem;
  margin: 0;
  font-size: 16px;
  outline: none;
  border-radius: 0.25rem;
  border: 1px solid #aaa;
}

.btn {
  margin: 0.25rem;
  padding: 0.6rem 1rem;
  appearance: none;
  background: var(--primary);
  color: #fff;
  cursor: pointer;
  border: 0;
  border-radius: 0.25rem;

  &--gray {
    background: #aaa;
  }
}

section {
  box-sizing: border-box;
}

.main {
  min-height: calc(100vh - 200px);
}

.container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 4%;
}

.badge {
  display: inline-block;
  margin: 0 0.25rem 0.25rem 0;
  padding: 0.25rem 0.8rem;
  background: #0002;
  border-radius: 0.25rem;

  &--inprogress {
    background: var(--yellow);
    color: #fff;
  }

  &--done {
    background: var(--green);
    color: #fff;
  }
}

.avatar {
  display: inline-block;
  position: relative;

  img {
    display: block;
    width: 80px;
    height: 80px;
    border: 4px solid #fff;
    border-radius: 100px;
    object-fit: cover;
  }

  .party {
    position: absolute;
    width: 1rem;
    height: 1rem;
    right: 0;
    bottom: 6px;
    border: 4px solid #fff;
  }
}

.party {
  display: inline-block;
  width: 0.4rem;
  height: 0.4rem;
  background: #aaa;
  border-radius: 100px;

  // 民進黨
  &--1 {
    background: #090;
  }

  // 社民黨
  &--2 {
    background: #934098;
  }

  // 台灣基進
  &--3 {
    background: #a73f24;
  }

  // 時代力量
  &--4 {
    background: #f9be01
  }

  // 綠黨
  &--5 {
    background: #1b893b
  }

  // 民眾黨
  &--6 {
    background: #35C8C7;
  }

  // 國民黨
  &--7 {
    background: #0000aa;
  }
}

._congress {
  .site-header {
    position: sticky;
    top: 0;
    background: #630;
    color: #fff;

    .header {
      height: 4rem;
      display: grid;
      grid-template-columns: auto 1fr auto;
      grid-gap: 3rem;
      align-items: center;

      @media (max-width: 991px) {
        grid-template-columns: 1fr auto;
      }

      a {
        color: currentColor;
        text-decoration: none;
      }

      .logo {
        color: #fc0;
        font-size: 1.25rem;
        font-weight: bold;

        img {
          height: 2rem;
          margin-right: 0.6rem;
          vertical-align: middle;
        }
      }

      .rwd-menu-icon {
        display: none;

        button {
          appearance: none;
          background: transparent;
          border: none;
          color: #fff;
        }

        @media (max-width: 991px) {
          display: block;
        }
      }

      .menu {
        display: flex;

        a {
          display: block;
          padding: 0.4rem 1rem;
          border-left: 1px solid #fff2;
        }

        .search-bar {
          display: grid;
          grid-template-columns: 1fr 1.6rem;
          margin: 0 1rem;
          padding: 0 0.8rem;
          background: #fff;
          border-radius: 0.25rem;

          input, button {
            display: block;
            padding: 0;
            appearance: none;
            background: transparent;
            border: 0;
          }
        }

        @media (max-width: 991px) {
          padding: 0.4rem 4%; // %4 is same as container
          display: block;
          position: fixed;
          top: 4rem;
          bottom: 0;
          left: 0;
          right: 0;
          background: #fff;
          transform: translateX(100%);
          transition: transform 0.4s;
          color: #222;

          & > a {
            padding: 1rem 0;
            display: block;
            border-bottom: 1px solid #0002;
          }

          & > .search-bar {
            margin: 1rem 0;
            padding: 1rem 0.4rem;
            background-color: #0001;
          }

          &.active {
            transform: translateX(0);
          }
        }
      }

      .g0v {
        @media (max-width: 991px) {
          display: none;
        }

        img {
          height: 1.8rem;
        }
      }
    }
  }

  .site-footer {
    padding: 4rem 0;
    background: #222;
    color: #fff;

    .footer {
      display: grid;
      grid-template-columns: 1fr 1fr;
      align-items: center;
      justify-content: space-between;
    }

    a {
      color: currentColor;
      text-decoration: none;
    }

    .g0v {
      img {
        width: 100px;
      }
    }

    .about {
      text-align: right;
    }
  }
}