<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <!-- [phase2] 更新title -->
  <title>議案內容 - law-diff 提案法律對照表</title>
  <meta name=description content="">
  <meta name="og:type" content="website">
  <meta name="og:title" content="">
  <meta name="og:description" content="">
  <meta name="og:site_name" content="">
  <meta name="og:image" content="">
  <link rel="shortcut icon" href="favicon.ico">
  <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Symbols+Rounded:opsz,wght,FILL,GRAD@24,400,0,0" />
  <link rel="stylesheet" href="css/common.css">
  <script src="./js/vue.global.js"></script>
  <script type="module" src="./js/common.js?v=202401031325"></script>
</head>
<body>
  <div class="_congress _bills">
    <!-- [phase2] 幫我整塊header更新 -->
    <section class="site-header">
      <div class="container">
        <div class="header">
          <div class="logo">
            <a class="home" href="/">
              <img src="./images/logo.svg" alt="law-diff 提案法律對照表">
            </a>
          </div>
          <div class="rwd-menu-icon">
            <button @click="rwdMenuVisible = !rwdMenuVisible">
              <span
                v-if="!rwdMenuVisible"
                class="material-symbols-rounded"
              >
                menu
              </span>
              <span
                v-else
                class="material-symbols-rounded"
              >
                close
              </span>
            </button>
          </div>
          <div
            class="menu"
            :class="{ active: rwdMenuVisible }"
          >
            <a href="https://ly.govapi.tw/" target="_blank">國會 API</a>
            <a href="https://github.com/openfunltd/law-diff" target="_blank">Github Repo</a>
            <form action="/" class="search-bar">
              <input type="text" placeholder="搜尋議案">
              <button>
                <span class="material-symbols-rounded">
                  search
                </span>
              </button>
            </form>
          </div>
        </div>
      </div>
    </section>

    <div class="main">
      <section class="bill-info">
        <div class="container">        
          <div class="content">
            <h1 id="billName"></h1>
            <!-- [phase2] 新增 .bill-info-row 這層 -->
            <div class="bill-info-row">
              <div class="reasons">
                <h2>
                  <span class="icon material-symbols-rounded">
                    lightbulb
                  </span>
                  立法理由
                </h2>
                <p id="reason"></p>
              </div>
              <div class="proposer">
                <div class="title">
                  主提案第一人
                </div>
                <div class="proposers">
                  <div class="legislator">
                    <div class="avatar">
                      <!-- 0無黨籍 民進黨1 社民黨2 台灣基進3 時代力量4 綠黨5 民眾黨6 國民黨7 -->
                      <span id="party-theFirst" class="party"></span>
                      <img id="img-theFirst" src="" alt="">
                    </div>
                    <div>
                      <a id="text-theFirst" href="#"></a>
                    </div>
                  </div>
                </div>
              </div>
          </div>
        </div>
      </section>

      <section class="bill-tab">
        <div class="container">
          <a
            href="#"
            :class="{ active: billViewing === 'comparation' }"
            @click.prevent="billViewing = 'comparation'"
          >
            法案對照表
          </a>
          <a
            href="#"
            :class="{ active: billViewing === 'progress' }"
            @click.prevent="billViewing = 'progress'"
          >
            立法進度
          </a>
          <a
            href="#"
            :class="{ active: billViewing === 'legislators' }"
            @click.prevent="billViewing = 'legislators'"
          >
            相關委員
          </a>
        </div>
      </section>

      <section
        v-if="billViewing === 'progress'"
        class="progress"
      >
        <div class="container">
          <h2>
            <span class="icon material-symbols-rounded">
              schedule
            </span>
            立法進度
          </h2>
          <div id="bill_progress"></div>
        </div>
      </section>

      <section
        v-if="billViewing === 'legislators'"
        class="legislators"
      >
        <div class="container">
          <div class="row">
            <div class="col">
              <h2>
                <span class="icon material-symbols-rounded">
                  groups
                </span>
                主提案非第一人
              </h2>
              <div id="nonFirsts"></div>
            </div>
            <div class="separator"></div>
            <div class="col">
              <h2>
                <span class="icon material-symbols-rounded">
                  groups
                </span>
                連署名單
              </h2>
              <div id="cosigners"></div>
          </div>
        </div>
      </section>

      <section
        v-if="billViewing === 'comparation'"
        class="comparation"
      >
        <div class="container">
          <h2>
            <span class="icon material-symbols-rounded">
              compare
            </span>
            法案對照表
          </h2>

          <!-- [phase2] 以下整個都改囉 -->
          <div class="scroll-table bill-versions">
            <table>
              <thead>
                <tr>
                  <th>選擇</th>
                  <th>法案版本</th>
                  <th>版本名稱</th>
                  <th>主提案非第一人</th>
                  <th>提案編號</th>
                  <th>提案日期</th>
                </tr>
              </thead>
              <tbody>
                <tr v-for="(version, idx) in billVersions.slice(1, billVersions.length)">
                  <td>
                    <input
                      v-model="selectedVersions"
                      type="checkbox"
                      :value="idx + 1"
                    >
                  </td>
                  <td>
                    {{ version.billName }}
                  </td>
                  <td>
                    {{ version.versionName }}
                  </td>
                  <td>
                    {{ version.nonMainFirstProposer }}
                  </td>
                  <td>
                    {{ version.billNo }}
                  </td>
                  <td>
                    {{ version.billDate }}
                  </td>
                </tr>
                <!--
                <tr>
                  <td></td>
                  <td></td>
                  <td></td>
                  <td></td>
                  <td>
                -->
                    <!-- 按下Enter後，會觸發 getBillByNo 並帶入輸入的文字與目前的法案編號 -->
                <!--
                    <input
                      type="text"
                      placeholder="自行輸入提案編號"
                      class="custom-bill-no"
                      @keyup.enter="getBillByNo($event, 'bill_00001')"
                    >
                  </td>
                  <td></td>
                </tr>
                -->
              </tbody>
            </table>
          </div>

          <div class="diff-main">
            <div class="available-sections">
              <div class="title">
                <span class="material-symbols-rounded">
                  playlist_add_check
                </span>
                <!-- 比較條文 -->
                條文索引
              </div>
              <!-- <label v-for="idx in allAvailableSections">
                <input
                  v-model="selectedSections"
                  type="checkbox"
                  :value="idx"
                >
                {{ billsData[idx].title }}
              </label> -->
              <a
                v-for="idx in allAvailableSections"
                :href="`#bill_${idx}`"
              >
                {{ billsData[idx].title }}
              </a>
            </div>

            <div class="bills-list">
              <div class="diff-hint">
                <span class="material-symbols-rounded">
                  info
                </span>
                與現行法規比較 <ins>綠色</ins> 為新增 <del>紅色</del>為刪除
                <button onclick="window.print();">友善列印</button>
              </div>

              <!-- v-if="!selectedSections.length" -->
              <div
                v-if="!allAvailableSections.length"
                class="empty"
              >
                <div class="icon">
                  <span class="material-symbols-rounded">
                    info
                  </span>
                </div>
                請於上方選擇欲比較之版本，點選左側條文標題可跳至該條文。
              </div>

              <!-- v-for="idx in selectedSections.sort()" -->
              <div
                v-for="idx in allAvailableSections"
                class="bill"
                :id="`bill_${idx}`"
              >
                <div class="title">
                  {{ billsData[idx].title }}
                </div>
                <table>
                  <thead>
                    <tr>
                      <th>版本名稱</th>
                      <th>條文內容</th>
                      <th>立法理由</th>
                    </tr>
                  </thead>
                  <tbody>
                    <tr>
                      <td width="20%">現行條文</td>
                      <td width="60%">{{ billsData[idx].versions[0].content || '無' }}</td>
                      <td width="20%">{{ billsData[idx].versions[0].reason || '無' }}</td>
                    </tr>
                    <tr v-for="ver in selectedVersions">
                      <td>
                        {{ billVersions[ver].versionName }}
                        <div
                          v-if="billsData[idx].versions[ver].passed"
                          class="passed"
                        >
                          <span class="tag tag--done">
                            <span class="material-symbols-rounded icon">
                              task_alt
                            </span>
                            通過版本
                          </span>
                        </div>
                      </td>
                      <td v-html="
                        billsData[idx].versions[ver].content
                          ? compareDiff(
                              billsData[idx].versions[0].content || '',
                              billsData[idx].versions[ver].content || ''
                            )
                          : '無'
                      "></td>
                      <td>{{ billsData[idx].versions[ver].reason || '無' }}</td>
                    </tr>
                  </tbody>
                </table>
              </div>
            </div>
          </div>
        </div>
      </section>
    </div>

    <!-- [phase2] 幫我整塊footer更新 -->
    <section class="site-footer">
      <div class="container">
        <div class="footer">
          <div class="logo">
            <a class="home" href="/" target="_blank">
              <img src="./images/logo_w.svg">
            </a>
          </div>
          <div class="info">
            <div>
              Source Code on <a href="https://github.com/openfunltd/law-diff" target="_blank">GitHub</a>
            </div>
            <div>
              Data source powered by
              <a href="https://ly.govapi.tw/" target="_blank">國會 API</a>
            </div>
          </div>
        </div>
      </div>
    </section>
  </div>
  <script src="./js/render_bill.js"></script>
</body>
</html>
