<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>議案頁</title>
  <meta name=description content="">
  <meta name="og:type" content="website">
  <meta name="og:title" content="">
  <meta name="og:description" content="">
  <meta name="og:site_name" content="">
  <meta name="og:image" content="">
  <link rel="shortcut icon" href="favicon.ico">
  <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Symbols+Rounded:opsz,wght,FILL,GRAD@24,400,0,0" />
  <link rel="stylesheet" href="css/common.css">
  <script src="./js/vue.global.js"></script>
  <script type="module" src="./js/common.js"></script>
</head>
<body>
  <div class="_congress _bills">
    <section class="site-header">
      <div class="container">
        <div class="header">
          <div class="logo">
            <a href="/">
              <img src="./images/logo.png" alt="law-diff 提案法律對照表">
              law-diff 提案法律對照表
            </a>
          </div>
          <div class="rwd-menu-icon">
            <button @click="rwdMenuVisible = !rwdMenuVisible">
              <span
                v-if="!rwdMenuVisible"
                class="material-symbols-rounded"
              >
                menu
              </span>
              <span
                v-else
                class="material-symbols-rounded"
              >
                close
              </span>
            </button>
          </div>
          <div
            class="menu"
            :class="{ active: rwdMenuVisible }"
          >
            <a href="https://ly.govapi.tw/">國會 API</a>
            <form action="/" class="search-bar">
              <input type="text" placeholder="搜尋議案">
              <button>
                <span class="material-symbols-rounded">
                  search
                </span>
              </button>
            </form>
          </div>
        </div>
      </div>
    </section>

    <div class="main">
      <section class="bill-info">
        <div class="container">
          <div class="content">
            <h1 id="billName"></h1>
            <div class="reasons">
              <h2>
                <span class="icon material-symbols-rounded">
                  lightbulb
                </span>
                立法理由
              </h2>
              <p id="reason"></p>
            </div>
          </div>

          <div class="proposer">
            <div class="title">
              主提案第一人
            </div>
            <div class="proposers">
              <div class="legislator">
                <div class="avatar">
                  <!-- 0無黨籍 民進黨1 社民黨2 台灣基進3 時代力量4 綠黨5 民眾黨6 國民黨7 -->
                  <span id="party-theFirst" class="party"></span>
                  <img id="img-theFirst" src="" alt="">
                </div>
                <div>
                  <a id="text-theFirst" href="#"></a>
                </div>
              </div>
            </div>
          </div>
        </div>
      </section>

      <section class="bill-tab">
        <div class="container">
          <a
            href="#"
            :class="{ active: billViewing === 'comparation' }"
            @click.prevent="billViewing = 'comparation'"
          >
            法案對照表
          </a>
          <a
            href="#"
            :class="{ active: billViewing === 'progress' }"
            @click.prevent="billViewing = 'progress'"
          >
            立法進度
          </a>
          <a
            href="#"
            :class="{ active: billViewing === 'legislators' }"
            @click.prevent="billViewing = 'legislators'"
          >
            相關委員
          </a>
        </div>
      </section>

      <section
        v-if="billViewing === 'progress'"
        class="progress"
      >
        <div class="container">
          <h2>
            <span class="icon material-symbols-rounded">
              schedule
            </span>
            立法進度
          </h2>
          <div class="progress-bar">
            <!-- done 已完成的進度, active 進行中的進度 -->
            <div class="step done">
              <div class="step-icon">
                <span class="material-symbols-rounded">
                  task_alt
                </span>
              </div>
              <div class="content">
                <div class="title">提案</div>
                <div class="date">
                  <span class="icon material-symbols-rounded">
                    schedule
                  </span>
                  2008-12-15
                </div>
                <div class="links">
                  <a href="http://lis.ly.gov.tw/lgcgi/lypdftxt?10301002;218;250" target="_blank">
                    <span class="icon material-symbols-rounded">
                      attach_file
                    </span>
                    均審查完竣
                  </a>
                </div>
              </div>
            </div>
            <div class="step active">
              <div class="step-icon">
                <span class="material-symbols-rounded">
                  update
                </span>
              </div>
              <div class="content">
                <div class="title">一讀</div>
                <div class="date">
                  <span class="icon material-symbols-rounded">
                    schedule
                  </span>
                  2008-12-15
                </div>
                <div class="links">
                  <a href="http://lis.ly.gov.tw/lgcgi/lypdftxt?10208401;4;4" target="_blank">
                    <span class="icon material-symbols-rounded">
                      attach_file
                    </span>
                    交內政委員會審查
                  </a>
                </div>
              </div>
            </div>
            <div class="step">
              <div class="step-icon">
                <span class="material-symbols-rounded">
                  radio_button_unchecked
                </span>
              </div>
              <div class="content">
                <div class="title">委員會</div>
                <!-- <div class="date">
                  <span class="icon material-symbols-rounded">
                    schedule
                  </span>
                  2008-12-15
                </div>
                <div class="links">
                  <a href="http://lis.ly.gov.tw/lgcgi/lypdftxt?10208401;4;4" target="_blank">
                    <span class="icon material-symbols-rounded">
                      attach_file
                    </span>
                    交內政委員會審查
                  </a>
                </div> -->
              </div>
            </div>
            <div class="step">
              <div class="step-icon">
                <span class="material-symbols-rounded">
                  radio_button_unchecked
                </span>
              </div>
              <div class="content">
                <div class="title">二讀</div>
                <!-- <div class="date">
                  <span class="icon material-symbols-rounded">
                    schedule
                  </span>
                  2008-12-15
                </div>
                <div class="links">
                  <a href="http://lis.ly.gov.tw/lgcgi/lypdftxt?10208401;4;4" target="_blank">
                    <span class="icon material-symbols-rounded">
                      attach_file
                    </span>
                    交內政委員會審查
                  </a>
                </div>-->
              </div>
            </div>
            <div class="step">
              <div class="step-icon">
                <span class="material-symbols-rounded">
                  radio_button_unchecked
                </span>
              </div>
              <div class="content">
                <div class="title">三讀</div>
                <!-- <div class="date">
                  <span class="icon material-symbols-rounded">
                    schedule
                  </span>
                  2008-12-15
                </div>
                <div class="links">
                  <a href="http://lis.ly.gov.tw/lgcgi/lypdftxt?10208401;4;4" target="_blank">
                    <span class="icon material-symbols-rounded">
                      attach_file
                    </span>
                    交內政委員會審查
                  </a>
                </div>-->
              </div>
            </div>
            <div class="step">
              <div class="step-icon">
                <span class="material-symbols-rounded">
                  radio_button_unchecked
                </span>
              </div>
              <div class="content">
                <div class="title">頒佈</div>
                <!-- <div class="date">
                  <span class="icon material-symbols-rounded">
                    schedule
                  </span>
                  2008-12-15
                </div>
                <div class="links">
                  <a href="http://lis.ly.gov.tw/lgcgi/lypdftxt?10208401;4;4" target="_blank">
                    <span class="icon material-symbols-rounded">
                      attach_file
                    </span>
                    交內政委員會審查
                  </a>
                </div>-->
              </div>
            </div>
            <div class="step">
              <div class="step-icon">
                <span class="material-symbols-rounded">
                  radio_button_unchecked
                </span>
              </div>
              <div class="content">
                <div class="title">生效</div>
                <!-- <div class="date">
                  <span class="icon material-symbols-rounded">
                    schedule
                  </span>
                  2008-12-15
                </div>
                <div class="links">
                  <a href="http://lis.ly.gov.tw/lgcgi/lypdftxt?10208401;4;4" target="_blank">
                    <span class="icon material-symbols-rounded">
                      attach_file
                    </span>
                    交內政委員會審查
                  </a>
                </div>-->
              </div>
            </div>
          </div>        
        </div>
      </section>

      <section
        v-if="billViewing === 'legislators'"
        class="legislators"
      >
        <div class="container">
          <div class="row">
            <div class="col">
              <h2>
                <span class="icon material-symbols-rounded">
                  groups
                </span>
                主提案非第一人
              </h2>
              <div id="nonFirsts"></div>
            </div>
            <div class="separator"></div>
            <div class="col">
              <h2>
                <span class="icon material-symbols-rounded">
                  groups
                </span>
                連署名單
              </h2>
              <div id="cosigners"></div>
          </div>
        </div>
      </section>

      <section
        v-if="billViewing === 'comparation'"
        class="comparation"
      >
        <div class="container">
          <h2>
            <span class="icon material-symbols-rounded">
              compare
            </span>
            法案對照表
          </h2>

          <div class="compare">
            <!-- <select v-model="compareFrom" disabled>
              <option :value="0">現行條文</option>
              <option
                v-for="(item, idx) in billVersions"
                :value="idx + 1"
              >
                {{ item }}
              </option>
            </select> -->
            <span>
              現行條文對照
            </span>
            <select id="versionSelect" v-model="compareBy">
              <option
                v-for="(item, idx) in billVersions"
                :value="idx + 1"
              >
                {{ item }}
              </option>
            </select>
          </div>

          <div class="diff-hint">
            <span class="material-symbols-rounded">
              info
            </span>
            與現行法規比較 <ins>綠色</ins> 為新增 <del>紅色</del>為刪除
          </div>

          <div class="bills">
            <template v-for="bill in filterBills">
              <!-- 無修正 -->
              <div
                v-if="bill.from && !bill.by"
                class="bill"
              >
                <div
                  v-if="nowRule"
                  class="version"
                >
                  無修正條文
                </div>
                <div
                  v-else
                  class="version"
                >
                  <span
                    v-if="bill.from?.passed"
                    class="passed-icon material-symbols-rounded"
                  >
                    task_alt
                  </span>
                  {{ bill.from?.name }}
                  <template v-if="bill.from?.new">
                    新增條文
                  </template>
                  <template v-else-if="!bill.from?.nowRule">
                    修正條文
                  </template>
                </div>
                <div
                  v-html="bill.from?.htmlContent"
                  class="content"
                ></div>
                <div
                  v-if="bill.from?.comment"
                  v-html="bill.from?.comment.replace(/\n/g, '<br>')"
                  class="comment"
                ></div>
              </div>

              <!-- 新增 -->
              <div
                v-else-if="!bill.from && bill.by"
                class="bill bill--new"
              >
                <div class="version">
                  <span
                    v-if="bill.by?.passed"
                    class="passed-icon material-symbols-rounded"
                  >
                    task_alt
                  </span>
                  {{ bill.by?.name }}
                  <template v-if="bill.by?.new">
                    新增條文
                  </template>
                  <template v-else-if="!bill.by?.nowRule">
                    修正條文
                  </template>
                </div>
                <div
                  v-html="bill.by?.htmlContent"
                  class="content"
                ></div>
                <div
                  v-if="bill.by?.comment"
                  v-html="bill.by?.comment.replace(/\n/g, '<br>')"
                  class="comment"
                ></div>
              </div>

              <!-- 委員無新增 -->
              <template v-else-if="!bill.from && !bill.by"></template>

              <!-- 修正或新增比較（比較A提出與B提出的新增條文） -->
              <div
                v-else
                class="bill-compare"
              >
                <div class="bill">
                  <div class="version">
                    <span
                      v-if="bill.from?.passed"
                      class="passed-icon material-symbols-rounded"
                    >
                      task_alt
                    </span>
                    {{ bill.from?.name }}
                    <template v-if="bill.from?.new">
                      新增條文
                    </template>
                    <template v-else-if="!bill.from?.nowRule">
                      修正條文
                    </template>
                  </div>
                  <div
                    v-html="bill.from?.htmlContent"
                    class="content"
                  ></div>
                  <div
                    v-if="bill.from?.comment"
                    v-html="bill.from?.comment.replace(/\n/g, '<br>')"
                    class="comment"
                  ></div>
                </div>
                <div class="bill">
                  <div class="version">
                    <span
                      v-if="bill.by?.passed"
                      class="passed-icon material-symbols-rounded"
                    >
                      task_alt
                    </span>
                    {{ bill.by?.name }}
                    <template v-if="bill.by?.new">
                      新增條文
                    </template>
                    <template v-else-if="!bill.by?.nowRule">
                      修正條文
                    </template>
                  </div>
                  <div
                    v-html="bill.by?.htmlContent"
                    class="content"
                  ></div>
                  <div
                    v-if="bill.by?.comment"
                    v-html="bill.by?.comment.replace(/\n/g, '<br>')"
                    class="comment"
                  ></div>
                </div>
              </div>
            </template>
          </div>
        </div>
      </section>
    </div>

    <section class="site-footer">
      <div class="container">
        <div class="footer">
          <div class="ccw">
            <div class="info">
              <div class="contact">
                <div>
                  Source Code 原始碼：
                </div>
                <div>
                  <a href="https://github.com/openfunltd/law-diff">https://github.com/openfunltd/law-diff</a>
                </div>
              </div>
              <div class="sns">
                <div>
                  Data source powered by 國會 API
                </div>
                <div class="sns-links">
                  <a href="https://ly.govapi.tw/">https://ly.govapi.tw/</a>
                </div>
              </div>
            </div>
            <div>
            </div>
          </div>
        </div>
      </div>
    </section>
  </div>
  <script src="./js/render_bill.js"></script>
</body>
</html>
