<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>搜尋頁</title>
  <meta name=description content="">
  <meta name="og:type" content="website">
  <meta name="og:title" content="">
  <meta name="og:description" content="">
  <meta name="og:site_name" content="">
  <meta name="og:image" content="">
  <link rel="shortcut icon" href="favicon.ico">
  <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Symbols+Rounded:opsz,wght,FILL,GRAD@24,400,0,0" />
  <link rel="stylesheet" href="css/common.css">
  <script src="./js/vue.global.js"></script>
  <script type="module" src="./js/common.js"></script>
</head>
<body>
  <div class="_congress _search">
    <section class="site-header">
      <div class="container">
        <div class="header">
          <div class="logo">
            <a href="/">
              <img src="./images/logo.png" alt="公民監督國會聯盟">
            </a>
          </div>
          <div class="rwd-menu-icon">
            <button @click="rwdMenuVisible = !rwdMenuVisible">
              <span
                v-if="!rwdMenuVisible"
                class="material-symbols-rounded"
              >
                menu
              </span>
              <span
                v-else
                class="material-symbols-rounded"
              >
                close
              </span>
            </button>
          </div>
          <div
            class="menu"
            :class="{ active: rwdMenuVisible }"
          >
            <a href="https://ccw.org.tw/news">最新消息</a>
            <a href="https://ccw.org.tw/about/brief">認識公督盟</a>
            <a href="https://ccw.org.tw/assess">立委評鑑</a>

            <form action="/" class="search-bar">
              <input type="text" placeholder="搜尋議案">
              <button>
                <span class="material-symbols-rounded">
                  search
                </span>
              </button>
            </form>
          </div>
        </div>
      </div>
    </section>

    <div class="main">
      <section class="search">
        <div class="container">
          <form action="/" class="search-form">
            <div class="search-keywords">
              <input type="text" placeholder="搜尋議案關鍵字">
              <button>
                <span class="material-symbols-rounded">
                  search
                </span>
                搜尋
              </button>
            </div>

            <!-- <div class="options-switch">
              <a
                @click.prevent="advancedSearchVisible = !advancedSearchVisible"
                href="#"
              >
                進階搜尋
                <span
                  v-if="advancedSearchVisible"
                  class="material-symbols-rounded"
                >
                  expand_more
                </span>
                <span
                  v-else
                  class="material-symbols-rounded"
                >
                  expand_less
                </span>
              </a>
            </div>

            <div
              v-if="advancedSearchVisible"
              class="options"
            >
              <div class="option">
                <div class="title">
                  日期區間
                </div>
                <div class="value">
                  <input type="date">
                  <span>~</span>
                  <input type="date">
                </div>
              </div>
              <div class="option">
                <div class="title">
                  委員姓名
                </div>
                <div class="value">
                  <input type="text">
                </div>
              </div>
              <div class="option">
                <div class="title">
                  法律名稱
                </div>
                <div class="value">
                  <input type="text">
                </div>
              </div>
              <div class="option">
                <div class="title">
                  法律內容
                </div>
                <div class="value">
                  <input type="text">
                </div>
              </div>

              <div class="actions">
                <button class="btn btn--gray" type="reset">
                  <span class="material-symbols-rounded">
                    close
                  </span>
                  清除條件
                </button>
                <button class="btn">
                  <span class="material-symbols-rounded">
                    search
                  </span>
                  搜尋
                </button>
              </div>
            </div> -->
          </form>
        </div>
      </section>

      <section class="results">
        <div class="container">
          <h1>
            <span class="icon material-symbols-rounded">
              manage_search
            </span>
            議案搜尋結果
          </h1>

          <div class="filters">
            <div class="filter">
              搜尋關鍵字：移民
            </div>

            <div></div>

            <!-- 有選時間時顯示 -->
            <!--
            <div class="filter">
              <span class="material-symbols-rounded">
                schedule
              </span>
              2023-12-01 ~ 2023-12-12
            </div>
            -->

            <!--  有填寫委員名稱時顯示 -->
            <!--
            <div class="filter">
              <span class="material-symbols-rounded">
                group
              </span>
              林淑芬, 范雲
            </div>
            -->

            <!-- 有填寫法律名稱時顯示 -->
            <!--
            <div class="filter">
              <span class="material-symbols-rounded">
                gavel
              </span>
              入出國及移民法
            </div>
            -->

            <!-- 有填寫法律內容時顯示 -->
            <!--
            <div class="filter">
              <span class="material-symbols-rounded">
                receipt_long
              </span>
              出國及移民法有關規範
            </div>
            -->
          </div>

          <a href="/bills" class="result">
            <div class="title">
              擬具「入出國及移民法第二十一條、第三十五條之一及第六十六條條文修正草案」，請審議案。
            </div>
            <div class="status">
              <span class="badge badge--inprogress">
                <span class="material-symbols-rounded">
                  clock_loader_40
                  <!--
                    google icon 有 10, 20, 40, 60, 80, 90 這幾個選項，對應到
                    提案, 一讀, 委員會, 二讀, 三讀, 頒佈, 生效
                  -->
                </span>
                交付審查
              </span>
              112年10月16日
            </div>
            <div class="desc">
              本院委員李昆澤等16人，鑒於入出國及移民法有關規範外國人來台所為之各項處分，影響當事人權益甚鉅，應以書面通知當事人。惟目前本法仍有部分處分並未規範以書面通知當事人，此外，考量外國人可能無法理解我國語文，為保障其知悉處分內容及救濟管道，所以修正規定入出國及移民署對外國人所為...
            </div>
            <div class="legislators">
              提案人：
              <span class="badge">
                <!-- 0無黨籍 民進黨1 社民黨2 台灣基進3 時代力量4 綠黨5 民眾黨6 國民黨7 -->
                <span class="party party--1"></span>
                王定宇
              </span>
              <span class="badge">
                <span class="party party--0"></span>
                黃國書
              </span>
              <span class="badge">
                <span class="party party--4"></span>
                王婉諭
              </span>
              <span class="badge">
                <span class="party party--3"></span>
                陳柏惟
              </span>
            </div>
          </a>

          <a href="/bills" class="result">
            <div class="title">
              擬具「入出國及移民法第二十一條、第三十五條之一及第六十六條條文修正草案」，請審議案。
            </div>
            <div class="status">
              <span class="badge badge--done">
                <span class="material-symbols-rounded">
                  task_alt
                </span>
                已生效
              </span>
              112年12月6日（台立院議字第1120703929號）
            </div>
            <div class="desc">
              本院委員李昆澤等16人，鑒於入出國及移民法有關規範外國人來台所為之各項處分，影響當事人權益甚鉅，應以書面通知當事人。惟目前本法仍有部分處分並未規範以書面通知當事人，此外，考量外國人可能無法理解我國語文，為保障其知悉處分內容及救濟管道，所以修正規定入出國及移民署對外國人所為...
            </div>
            <div class="legislators">
              提案人：
              <span class="badge">
                <!-- 0無黨籍 民進黨1 社民黨2 台灣基進3 時代力量4 綠黨5 民眾黨6 國民黨7 -->
                <span class="party party--1"></span>
                王定宇
              </span>
              <span class="badge">
                <span class="party party--0"></span>
                黃國書
              </span>
              <span class="badge">
                <span class="party party--4"></span>
                王婉諭
              </span>
              <span class="badge">
                <span class="party party--3"></span>
                陳柏惟
              </span>
            </div>
          </a>

          <div class="pages">
            <a href="#">上一頁</a>
            <a href="#" class="active">1</a>
            <a href="#">2</a>
            <a href="#">3</a>
            <a href="#">4</a>
            <a href="#">5</a>
            <a href="#">下一頁</a>
          </div>
        </div>
      </section>

      <!-- 查無搜尋結果時 -->
      <section class="results">
        <div class="container">
          <h1>
            <span class="icon material-symbols-rounded">
              manage_search
            </span>
            查無議案搜尋結果
          </h1>

          <div class="filters">
            <div class="filter">
              搜尋關鍵字：移民
            </div>

            <div></div>

            <!-- 有選時間時顯示 -->
            <!--
            <div class="filter">
              <span class="material-symbols-rounded">
                schedule
              </span>
              2023-12-01 ~ 2023-12-12
            </div>
            -->

            <!-- 有填寫委員名稱時顯示 -->
            <!--
            <div class="filter">
              <span class="material-symbols-rounded">
                group
              </span>
              林淑芬, 范雲
            </div>
            -->

            <!-- 有填寫法律名稱時顯示 -->
            <!--
            <div class="filter">
              <span class="material-symbols-rounded">
                gavel
              </span>
              入出國及移民法
            </div>
            -->

            <!-- 有填寫法律內容時顯示 -->
            <!--
            <div class="filter">
              <span class="material-symbols-rounded">
                receipt_long
              </span>
              出國及移民法有關規範
            </div>
            -->
          </div>
        </div>
      </section>
    </div>

    <section class="site-footer">
      <div class="container">
        <div class="footer">
          <div class="ccw">
            <a href="https://ccw.org.tw/" target="_blank">
              <img src="./images/logo_w.png">
            </a>
            <div class="info">
              <div class="contact">
                <div>
                  10647 台北市大安區羅斯福路三段183號10樓
                </div>
                <div>
                  +886-2-2367-1571
                  ・
                  <a href="mailto:ccw@ccw.org.tw">ccw@ccw.org.tw</a>
                </div>
              </div>
              <div class="sns">
                <div>
                  Find Us On Social Media
                </div>
                <div class="sns-links">
                  <a href="https://www.facebook.com/ccw.org.tw/" target="_blank">
                    Facebook
                  </a>
                  <a href="https://instagram.com/c_c_watch?igshid=13fbnwd1melvf" target="_blank">
                    Instagram
                  </a>
                  <a href="https://www.youtube.com/user/CitizenCongressWatch/featured" target="_blank">
                    Youtube
                  </a>
                  <a href="https://line.me/R/ti/p/%40tyu0276q" target="_blank">
                    Line
                  </a>
                </div>
              </div>
            </div>
            <div>
              &copy; 2007-2023 Citizen Congress Watch, All rights Reserved
            </div>
          </div>
        </div>
      </div>
    </section>
  </div>
</body>
</html>
