<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <!-- [phase2] 更新title -->
  <title>law-diff 提案法律對照表</title>
  <meta name=description content="">
  <meta name="og:type" content="website">
  <meta name="og:title" content="">
  <meta name="og:description" content="">
  <meta name="og:site_name" content="">
  <meta name="og:image" content="">
  <link rel="shortcut icon" href="favicon.ico">
  <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Symbols+Rounded:opsz,wght,FILL,GRAD@24,400,0,0" />
  <link rel="stylesheet" href="css/common.css">
  <script src="/js/vue.global.js"></script>
  <script type="module" src="/js/common.js"></script>
</head>
<body>
  <div class="_congress _search">
    <!-- [phase2] 幫我整塊header更新 -->
    <section class="site-header">
      <div class="container">
        <div class="header">
          <div class="logo">
            <a href="/">
              <img src="/images/logo.svg" alt="law-diff 提案法律對照表">
            </a>
          </div>
          <div class="rwd-menu-icon">
            <button @click="rwdMenuVisible = !rwdMenuVisible">
              <span
                v-if="!rwdMenuVisible"
                class="material-symbols-rounded"
              >
                menu
              </span>
              <span
                v-else
                class="material-symbols-rounded"
              >
                close
              </span>
            </button>
          </div>
          <div
            class="menu"
            :class="{ active: rwdMenuVisible }"
          >
            <a href="https://ly.govapi.tw/" target="_blank">國會 API</a>
            <a href="https://github.com/openfunltd/law-diff" target="_blank">Github Repo</a>

            <form action="/" class="search-bar">
              <input type="text" placeholder="搜尋議案">
              <button>
                <span class="material-symbols-rounded">
                  search
                </span>
              </button>
            </form>
          </div>
        </div>
      </div>
    </section>

    <div class="main">
      <section class="search">
        <div class="container">
          <form action="/" class="search-form">
            <div class="search-keywords">
              <input type="text" placeholder="法律名稱關鍵字">
              <button>
                <span class="material-symbols-rounded">
                  search
                </span>
                搜尋
              </button>
            </div>
            <!-- [phase2] 新增進階搜尋功能 -->
            <div class="options">
              <div class="title">
                屆期
              </div>
              <div class="value">
                <select>
                  <option>10</option>
                  <option>9</option>
                </select>
                <div>會期</div>
                <select>
                  <option value="">所有會期</option>
                  <option value="8">8</option>
                  <option value="7">7</option>
                  <option value="6">6</option>
                  <option value="5">5</option>
                  <option value="4">4</option>
                  <option value="3">3</option>
                  <option value="2">2</option>
                  <option value="1">1</option>
                </select>
              </div>

              <div class="title">
                主提案第一人
              </div>
              <div class="value">
                <input type="text" placeholder="請輸入立委名稱">
              </div>

              <div class="title">
                立法進度
              </div>
              <div class="value">
                <select>
                  <option>任意進度</option>
                  <option>提案</option>
                  <option>一讀</option>
                  <option>委員會</option>
                  <option>二讀</option>
                  <option>三讀</option>
                  <option>頒佈</option>
                  <option>生效</option>
                </select>
              </div>
            </div>

            <div class="actions">
              <button class="btn btn--gray" type="reset">
                <span class="material-symbols-rounded">
                  close
                </span>
                清除條件
              </button>
              <button class="btn">
                <span class="material-symbols-rounded">
                  search
                </span>
                搜尋
              </button>
            </div>
          </form>
        </div>
      </section>

      <!-- 尚未搜尋時 -->
      <section class="results">
        <div class="container">
          <h1>
            <span class="icon material-symbols-rounded">
              quick_reference_all
            </span>
            國會小知識
          </h1>

          <div class="knowledges">
            <div class="knowledge">
              <h2>
                <span class="icon material-symbols-rounded">
                  calendar_month
                </span>
                立法院會期
              </h2>
              <div class="content">
                立法院以會期作為行使職權的時間單位。每年兩次會期，分別是二月起與九月起，《立法院職權行使法》也明文規定了報到日分別是2月1日與9月1日。（資料來源Wikipedia）
              </div>
            </div>

            <div class="knowledge">
              <h2>
                <span class="icon material-symbols-rounded">
                  assured_workload
                </span>
                立法院運作
              </h2>
              <div class="content">
                立法院作為國會，運作主要依《中華民國憲法》、《中華民國憲法增修條文》及1999年所制定，修訂之國會五法：《立法院組織法》、《立法院各委員會組織法》、《立法院職權行使法》、《立法委員行為法》、與《立法院議事規則》。（資料來源Wikipedia）
              </div>
            </div>

            <div class="knowledge party-percentage">
              <div class="desc">
                <h2>
                  <span class="icon material-symbols-rounded">
                    data_usage
                  </span>
                  第十屆立法院政黨分佈
                </h2>
                <div class="content">
                  <div class="percentage-list">
                    <div class="item">
                      民主進步黨黨團（64）
                      <div class="bar">
                        <div class="bar-percent bg--1" style="width: calc(64 / 113 * 100%)"></div>
                      </div>
                    </div>
                    <div class="item">
                      中國國民黨黨團（38）
                      <div class="bar">
                        <div class="bar-percent bg--7" style="width: calc(38 / 113 * 100%)"></div>
                      </div>
                    </div>
                    <div class="item">
                      台灣民眾黨黨團（5）
                      <div class="bar">
                        <div class="bar-percent bg--6" style="width: calc(5 / 113 * 100%)"></div>
                      </div>
                    </div>
                    <div class="item">
                      時代力量黨團（3）
                      <div class="bar">
                        <div class="bar-percent bg--4" style="width: calc(3 / 113 * 100%)"></div>
                      </div>
                    </div>
                    <div class="item">
                      缺額（1）
                      <div class="bar">
                        <div class="bar-percent bg--0" style="width: calc(1 / 113 * 100%)"></div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              <div class="graphic">
                <img src="/images/party_percentage.png">
                圖片與資料來源Wikipedia
              </div>
            </div>
          </div>
        </div>
      </section>

      <!-- 搜尋結果 -->
      <section class="results">
        <div class="container">
          <h1>
            <span class="icon material-symbols-rounded">
              manage_search
            </span>
            議案搜尋結果
          </h1>

          <div class="filters">
            <div class="filter">
              搜尋關鍵字：移民
            </div>

            <div></div>

            <!-- 有選時間時顯示 -->
            <div class="filter">
              <span class="material-symbols-rounded">
                schedule
              </span>
              2023-12-01 ~ 2023-12-12
            </div>

            <!-- 有填寫委員名稱時顯示 -->
            <div class="filter">
              <span class="material-symbols-rounded">
                group
              </span>
              林淑芬, 范雲
            </div>

            <!-- 有填寫法律名稱時顯示 -->
            <div class="filter">
              <span class="material-symbols-rounded">
                gavel
              </span>
              入出國及移民法
            </div>

            <!-- 有填寫法律內容時顯示 -->
            <div class="filter">
              <span class="material-symbols-rounded">
                receipt_long
              </span>
              出國及移民法有關規範
            </div>
          </div>

          <!-- [phase2] 新增了 .result-main .result-list 的結構 包在原本的list外 -->
          <!-- [phase2] 新增了 .filter-options checkbox list -->
          <div class="result-main">
            <div class="rwd-filter-options-switch">
              <a
                href="#"
                @click.prevent="rwdFilterOptionsVisible = !rwdFilterOptionsVisible"
              >
                進階篩選
                <span
                  v-if="rwdFilterOptionsVisible"
                  class="material-symbols-rounded"
                >
                  expand_more
                </span>
                <span
                  v-else
                  class="material-symbols-rounded"
                >
                  expand_less
                </span>
              </a>
            </div>

            <div
              class="filter-options"
              :class="{ 'rwd-active': rwdFilterOptionsVisible }"
            >
              <div class="option">
                <div class="title">屆期會期</div>
                <div class="list">
                  <label>
                    <input type="checkbox" class="filter-option" disabled>
                    <span>第10屆第8會期</span>
                    <span class="option-count"></span>
                  </label>
                  <label>
                    <input type="checkbox" class="filter-option">
                    <span>第10屆第7會期</span>
                    <span class="option-count">(10)</span>
                  </label>
                </div>
              </div>

              <div class="option">
                <div class="title">提案人</div>
                <div class="list">
                  <label>
                    <input type="checkbox" class="filter-option">
                    <span>苗博雅</span>
                    <span class="option-count">(10)</span>
                  </label>
                  <label>
                    <input type="checkbox" class="filter-option">
                    <span>王婉諭</span>
                    <span class="option-count">(10)</span>
                  </label>
                  <label>
                    <input type="checkbox" class="filter-option">
                    <span>范雲</span>
                    <span class="option-count">(10)</span>
                  </label>
                </div>
              </div>

              <div class="option">
                <div class="title">法條名稱</div>
                <div class="list">
                  <label>
                    <input type="checkbox" class="filter-option">
                    <span>刑事補償法部分條文修正草案</span>
                    <span class="option-count">(10)</span>
                  </label>
                  <label>
                    <input type="checkbox" class="filter-option">
                    <span>核子損害賠償法刪除第三十五條條文草案</span>
                    <span class="option-count">(10)</span>
                  </label>
                  <label>
                    <input type="checkbox" class="filter-option">
                    <span>國家賠償法刪除第十五條條文草案</span>
                    <span class="option-count">(10)</span>
                  </label>
                </div>
              </div>

              <div class="option">
                <div class="title">立法進度</div>
                <div class="list">
                  <label>
                    <input type="checkbox" class="filter-option">
                    <span>一讀</span>
                    <span class="option-count">(10)</span>
                  </label>
                  <label>
                    <input type="checkbox" class="filter-option">
                    <span>委員會</span>
                    <span class="option-count">(10)</span>
                  </label>
                </div>
              </div>
            </div>

            <div class="result-list">
              <a href="/bills" class="result">
                <div class="title">
                  擬具「入出國及移民法第二十一條、第三十五條之一及第六十六條條文修正草案」，請審議案。
                </div>
                <div class="status">
                  <span class="badge badge--inprogress">
                    <span class="material-symbols-rounded">
                      clock_loader_40
                      <!--
                        google icon 有 10, 20, 40, 60, 80, 90 這幾個選項，對應到
                        提案, 一讀, 委員會, 二讀, 三讀, 頒佈, 生效
                      -->
                    </span>
                    交付審查
                  </span>
                  112年10月16日
                </div>
                <div class="desc">
                  本院委員李昆澤等16人，鑒於入出國及移民法有關規範外國人來台所為之各項處分，影響當事人權益甚鉅，應以書面通知當事人。惟目前本法仍有部分處分並未規範以書面通知當事人，此外，考量外國人可能無法理解我國語文，為保障其知悉處分內容及救濟管道，所以修正規定入出國及移民署對外國人所為...
                </div>
                <div class="legislators">
                  相關委員：
                  <span class="badge">
                    <!-- 0無黨籍 民進黨1 社民黨2 台灣基進3 時代力量4 綠黨5 民眾黨6 國民黨7 -->
                    <span class="party party--1"></span>
                    王定宇
                  </span>
                  <span class="badge">
                    <span class="party party--0"></span>
                    黃國書
                  </span>
                  <span class="badge">
                    <span class="party party--4"></span>
                    王婉諭
                  </span>
                  <span class="badge">
                    <span class="party party--3"></span>
                    陳柏惟
                  </span>
                </div>
              </a>

              <a href="/bills" class="result">
                <div class="title">
                  擬具「入出國及移民法第二十一條、第三十五條之一及第六十六條條文修正草案」，請審議案。
                </div>
                <div class="status">
                  <span class="badge badge--done">
                    <span class="material-symbols-rounded">
                      task_alt
                    </span>
                    已生效
                  </span>
                  112年12月6日（台立院議字第1120703929號）
                </div>
                <div class="desc">
                  本院委員李昆澤等16人，鑒於入出國及移民法有關規範外國人來台所為之各項處分，影響當事人權益甚鉅，應以書面通知當事人。惟目前本法仍有部分處分並未規範以書面通知當事人，此外，考量外國人可能無法理解我國語文，為保障其知悉處分內容及救濟管道，所以修正規定入出國及移民署對外國人所為...
                </div>
                <div class="legislators">
                  相關委員：
                  <span class="badge">
                    <!-- 0無黨籍 民進黨1 社民黨2 台灣基進3 時代力量4 綠黨5 民眾黨6 國民黨7 -->
                    <span class="party party--1"></span>
                    王定宇
                  </span>
                  <span class="badge">
                    <span class="party party--0"></span>
                    黃國書
                  </span>
                  <span class="badge">
                    <span class="party party--4"></span>
                    王婉諭
                  </span>
                  <span class="badge">
                    <span class="party party--3"></span>
                    陳柏惟
                  </span>
                </div>
              </a>
            </div>
          </div>

          <div class="pages">
            <a href="#">上一頁</a>
            <a href="#" class="active">1</a>
            <a href="#">2</a>
            <a href="#">3</a>
            <a href="#">4</a>
            <a href="#">5</a>
            <a href="#">下一頁</a>
          </div>
        </div>
      </section>

      <!-- 查無搜尋結果時 -->
      <section class="results">
        <div class="container">
          <h1>
            <span class="icon material-symbols-rounded">
              manage_search
            </span>
            查無議案搜尋結果
          </h1>

          <div class="filters">
            <div class="filter">
              搜尋關鍵字：移民
            </div>

            <div></div>

            <!-- 有選時間時顯示 -->
            <div class="filter">
              <span class="material-symbols-rounded">
                schedule
              </span>
              2023-12-01 ~ 2023-12-12
            </div>

            <!-- 有填寫委員名稱時顯示 -->
            <div class="filter">
              <span class="material-symbols-rounded">
                group
              </span>
              林淑芬, 范雲
            </div>

            <!-- 有填寫法律名稱時顯示 -->
            <div class="filter">
              <span class="material-symbols-rounded">
                gavel
              </span>
              入出國及移民法
            </div>

            <!-- 有填寫法律內容時顯示 -->
            <div class="filter">
              <span class="material-symbols-rounded">
                receipt_long
              </span>
              出國及移民法有關規範
            </div>
          </div>
        </div>
      </section>
    </div>

    <!-- [phase2] 幫我整塊footer更新 -->
    <section class="site-footer">
      <div class="container">
        <div class="footer">
          <div class="logo">
            <a href="/" target="_blank">
              <img src="/images/logo_w.svg">
            </a>
          </div>
          <div class="info">
            <div>
              Source Code on <a href="https://github.com/openfunltd/law-diff" target="_blank">GitHub</a>
            </div>
            <div>
              Data source powered by
              <a href="https://ly.govapi.tw/" target="_blank">國會 API</a>
            </div>
          </div>
        </div>
      </div>
    </section>
  </div>
</body>
</html>
